/* Dimensions of the landing page */
body {
  height: 1912px;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

/* Image adjustments */
.right-header-body {
  width: 300px;
  height: auto;
}

.album-cover {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

/* Header CSS Properties */
.heading {
  width: 100%;
  flex: 1;
  background-color: #1b1a17;
  color: #ede7cf;
  padding: 25px 0px;
}

.header-link {
  text-decoration: none;
  color: #f0e3ca;
  font-weight: 100;
  font-size: 24px;
}

li {
  list-style-type: none;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.heading-flex-container {
  flex: 1;
  margin: 0 auto;
  width: 50%;
  display: flex;
  font-family: "Century Gothic";
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left-head {
  font-size: 30px;
  font-weight: bold;
}

.right-head {
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-body {
  display: flex;
  padding: 10px 0px;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

.left-header-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-body-title {
  color: #ffe6bc;
  font-size: 55px;
  font-weight: bold;
}

.header-body-text {
  color: #8e806a;
  font-size: 20px;
  font-weight: 500;
}

.header-button {
  height: max-content;
  width: max-content;
  background-color: #c3b091;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  font-family: "Rockwell";
  padding: 10px 20px;
  text-align: center;
}

/* Album cover Stylings */
.album-section {
  width: 100%;
  flex: 1;
  background-color: #ffe6bc;
  display: flex;
  justify-content: center;
}

.album-container {
  width: 70%;
  padding: 20px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-header {
  font-family: "Trebuchet MS";
  color: #072227;
  padding: 20px 0px;
  font-size: 55px;
}

.album {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.album-list {
  display: flex;
  align-items: flex-start;
  text-align: center;
  gap: 25px;
}

.album-subtext {
  padding: 20px 0px;
  margin: auto;
  text-align: center;
  font-family: "Georgia";
  color: #072227;
}

.text-title {
  font-weight: bold;
}

/* Quote Section Styling */
.lyric-section {
  width: 100%;
  background-color: #f0f0f0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyric-container {
  width: 60%;
  color: #532e1c;
  display: flex;
  flex-direction: column;
}

.lyric {
  font-size: 40px;
  font-style: italic;
}

.artist {
  text-align: right;
  font-size: 20px;
}

/* Button Section Styling */
.button-section {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  font-family: "Century Gothic";
  background-color: #76ead7;
  border-radius: 10px;
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-header {
  font-size: 20px;
  font-weight: bold;
}

.big-button {
  height: max-content;
  width: max-content;
  background-color: #8bbabb;
  border: 2 px solid #1b1a17;
  border-radius: 12px;
  font-size: 24px;
  font-family: "Rockwell";
  padding: 10px 20px;
  text-align: center;
}

/* Footer Section Styling */

.footer {
  background-color: #686d76;
  width: 100%;
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rockwell";
}
